.logo{
    height: 50px;
    width: 50px;
}

.login-container{
    height: 400px;
    width: 350px;
    border: 3px solid blue;
    margin: 0 0 0 500px;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 1px;
    padding: 10px 0;
}

html{
    height: 100%;
    width: 100%;
    background-color: #fafafa;
}


footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    font-size: 12;
    display: block;
}


.signup{
    font-size: 17px;
    line-height: 20px;
    margin: 22px auto 8px;
    text-align: center;
    color: #999;
    font-weight: 600;
    display: block;
    overflow: hidden;
}

button{
    background-color: #3897f0;
    color: aliceblue;
    cursor: pointer;
}
.log{
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
    font-weight: 600;
    line-height: 26px;
    overflow: hidden;
    white-space: nowrap;
    width: 268;
    font-family: "Segoe UI",sans-serif;
    height: 28;
    margin: 10px 40px 10px 40px;
}

hr {
    display: inline-block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    padding: 0;
    width: 150px;
    margin-left: 5px;
}

input{
    display: block;
    border: 1px solid #efefef;
    border-radius: 3px;
    color: #262626;
    font-size: 14px;
    padding: 9px 8px 7px;
    line-height: 18px;
    margin: 5px 40px 5px 40px;
    width: 75%;
}

